psycopg2-binary==2.9.9
pandas==1.5.3
sqlalchemy==1.4.50
boto3==1.28.85
spacy==3.7.2
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0-py3-none-any.whl
