psycopg2-binary==2.9.11
pandas==2.3.3
sqlalchemy==2.0.44
boto3==1.40.68
spacy==3.8.8
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
aws_lambda_powertools==3.22.1
