psycopg2-binary==2.9.11
pandas==2.3.3
sqlalchemy==2.0.46
boto3==1.42.41
spacy==3.8.11
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
aws_lambda_powertools==3.24.0
