__pycache__
.DS_Store
.venv/
scratch/
tna-backcatalogue/
notebooks/
output/
performance_benchmark/
test_citation_patterns.jsonl
matched_rules.csv
caselaw_extraction/tests.ipynb
caselaw_extraction/2022_02_24_Citation_Manifest.csv
caselaw_extraction/tests.ipynb
*.ipynb
*.db
2022_02_24_Citation_Manifest.csv
caselaw_extraction/tests.ipynb
caselaw_extraction/manifest.db
/plots
.vscode/