spacy==3.8.7
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
pandas==2.3.3
psycopg2-binary==2.9.11
beautifulsoup4==4.14.2
lxml==6.0.2
sqlalchemy==2.0.44
aws_lambda_powertools==3.21.0
