spacy==3.8.5
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
pandas==2.2.3
# pandas==1.1.5
# psycopg2==2.9.3
# psycopg2-binary==2.9.1
psycopg2-binary==2.9.10
beautifulsoup4==4.13.4
lxml==5.4.0
sqlalchemy==2.0.40
aws_lambda_powertools==3.10.0
