spacy==3.8.9
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
spaczz==0.6.1
pandas==2.3.3
# psycopg2==2.9.3
psycopg2-binary==2.9.11
sqlalchemy==2.0.44
aws_lambda_powertools==3.22.1
