spacy==3.7.5
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
spaczz==0.6.1
pandas==2.2.2
# psycopg2==2.9.3
psycopg2-binary==2.9.9
sqlalchemy==2.0.31
aws_lambda_powertools==2.43.1
