name: ci_lint_and_test
permissions: {}
on:
  pull_request:
    branches: [main]
  push:
    branches: [main]
  merge_group:

jobs:
  run-pre-commit:
    name: Run pre-commit
    runs-on: ubuntu-latest
    steps:
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2
        continue-on-error: false

      - name: Checkout Code Repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          persist-credentials: false

      - name: Run pre-commit
        uses: pre-commit/action@2c7b3805fd2a0fd8c1884dcaebf91fc102a13ecd # v3.0.1
        env:
          SKIP: no-commit-to-branch

  run-tests:
    name: Run tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          persist-credentials: false

      - name: Set up Python 3.12
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: "3.13"

      - name: pip install tests dependencies
        run: |
          pip3 install -r src/tests/requirements.txt

      - name: Run python tests with coverage
        env:
          SPARQL_USERNAME: ${{ secrets.SPARQL_USERNAME }}
          SPARQL_PASSWORD: ${{ secrets.SPARQL_PASSWORD }}
        run: pytest -rsax -vvvv --cov --cov-branch --cov-report=xml

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

  terraform_format:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          persist-credentials: false

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2
        continue-on-error: false

      - name: Run Terraform format
        id: run_terraform_validate
        run: |
          set -e
          set -o pipefail
          cd terraform
          terraform fmt -check -recursive
        continue-on-error: false

  terraform_lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          persist-credentials: false

      - name: Install TFLint
        uses: terraform-linters/setup-tflint@4cb9feea73331a35b422df102992a03a44a3bb33 # v6.2.1
        with:
          tflint_version: v0.38.1
        continue-on-error: false

      - name: Run TFLint
        id: run_tflint
        run: |
          tflint --init
          tflint -f compact --loglevel warn

  terraform_validate:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          persist-credentials: false

      - name: Get terraform version
        id: get-terraform-version
        run: |
          DOTFILE_VERSION=$(cat terraform/.terraform-version)
          echo "version=$DOTFILE_VERSION" >> $GITHUB_OUTPUT

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2
        continue-on-error: false
        with:
          terraform_version: ${{ steps.get-terraform-version.outputs.version }}

      - name: Run Terraform Validate
        id: run_terraform_validate
        run: |
          set -e
          set -o pipefail
          cd terraform
          terraform init -backend=false
          terraform validate -no-color
        continue-on-error: false

  tfsec-pr-commenter:
    name: tfsec PR commenter
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - name: Clone repo
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          persist-credentials: false
      - name: tfsec
        uses: aquasecurity/tfsec-pr-commenter-action@7a44c5dcde5dfab737363e391800629e27b6376b # v1.3.1
        with:
          github_token: ${{ github.token }}
          working_directory: "terraform"

  terraform_plan-staging:
    uses: ./.github/workflows/terraform_plan.yml
    permissions:
      contents: read
      id-token: write
    secrets:
      aws_oidc_role_arn: ${{ secrets.AWS_OIDC_ROLE_ARN }}
      account_id: ${{ secrets.STAGING_ACCOUNT_ID }}
      workspace: tna-staging
      app_env: staging

  terraform_plan-production:
    uses: ./.github/workflows/terraform_plan.yml
    permissions:
      contents: read
      id-token: write
    secrets:
      aws_oidc_role_arn: ${{ secrets.AWS_OIDC_ROLE_ARN_PROD }}
      account_id: ${{ secrets.PROD_ACCOUNT_ID }}
      workspace: tna-prod
      app_env: production
