name: terraform_plan

on:
  workflow_call:
    secrets:
      aws_oidc_role_arn:
        required: true
      account_id:
        required: true
      workspace:
        required: true
      app_env:
        required: true

jobs:
  terraform_plan:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout source code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          persist-credentials: false

      - name: Get terraform version
        id: get-terraform-version
        run: |
          DOTFILE_VERSION=$(cat terraform/.terraform-version)
          echo "version=$DOTFILE_VERSION" >> $GITHUB_OUTPUT

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@5e8dbf3c6d9deaf4193ca7a8fb23f2ac83bb6c85 # v4.0.0
        continue-on-error: false
        with:
          terraform_version: ${{ steps.get-terraform-version.outputs.version }}

      - name: Get AWS Credentials
        uses: aws-actions/configure-aws-credentials@8df5847569e6427dd6c4fb1cf565c83acfa8afa7 # v6.0.0
        with:
          aws-region: eu-west-2
          role-to-assume: ${{ secrets.aws_oidc_role_arn }}
        continue-on-error: false

      - name: Terraform init
        id: run_terraform_init
        run: |
          set -e
          set -o pipefail
          cd terraform
          terraform init -upgrade -input=false -backend-config="bucket=tna-terraform-backend-state-enrichment-pipeline-${{ secrets.account_id }}"
        continue-on-error: false

      - name: Terraform Plan
        id: run_terraform_plan
        run: |
          set -e
          set -o pipefail
          cd terraform
          terraform workspace select ${{ secrets.workspace }}
          terraform plan -no-color -var "app_env=${{ secrets.app_env }}"
